src/test/resources/schemas/xml/user-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"       type="xs:integer" minOccurs="0"/>
        <xs:element name="name"     type="xs:string"  minOccurs="1"/>
        <xs:element name="username" type="xs:string"  minOccurs="1"/>
        <xs:element name="email"    type="emailType"  minOccurs="1"/>
        <xs:element name="phone"    type="xs:string"  minOccurs="0"/>
        <xs:element name="website"  type="xs:string"  minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="emailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>